{% extends "index.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/estilosMenu.css' %}">

<h2>Menú:</h2>

<nav>
    <div class="all_categories">
        <a href="{% url 'menu' %}">Todos los productos</a>
    </div>
    {% for categoria in categorias %}
        <div class="category">
            <a href="{% url 'menu_categoria' categoria.slug %}">{{ categoria.categoria }}</a>
        </div>
    {% endfor %}
    
</nav>

{% for producto in productos %}
<div class="producto">
    <h3>{{ producto.nombre }}</h3>
    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
    <p>{{ producto.descripción }}</p>
    <p>Precio: ${{ producto.precio }}</p>
    <a href="{% url 'agregar_al_carrito' producto.id %}" class="btn-agregar">Añadir al Carro</a>
</div>
{% endfor %}

{% endblock %}
